{
    "openai": {
        "key": "",
        "tokens": 256,
        "model": "text-curie-001"
    },
    "networks": [
        {
            "name": "efnet",
            "enabled": true,
            "nick": "aibird",
            "channels": [
                "#birdnest"
            ],
            "servers": [
                {
                    "host": "irc.servercentral.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.efnet.nl",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "efnet.port80.se",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.inet.tele.dk",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.underworld.no",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.homelien.no",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.colosolutions.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.mzima.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.choopa.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.homelien.no",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.du.se",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.swepipe.se",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.prison.net",
                    "port": 6667,
                    "ssl": false
                }
            ]
        },
        {
            "name": "birdnest irc",
            "enabled": false,
            "nick": "aibird",
            "channels": [
                "#birdnest"
            ],
            "servers": [
                {
                    "host": "irc.birdnest.chat",
                    "port": 6697,
                    "ssl": true
                }
            ]
        }
    ]
}