{
    "openai": {
        "key": ["sk-key123",
                "sk-key123",
                "sk-key123"],
        "tokens": 256,
        "model": "text-curie-001"
    },
    "networks": [
        {
            "name": "efnet",
            "enabled": true,
            "nick": "aibird",
            "throttle": 550,
            "channels": [
                "#birdnest",
            ],
            "servers": [
                {
                    "host": "irc.servercentral.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.efnet.nl",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "efnet.port80.se",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.underworld.no",
                    "port": 6667,
                    "ssl": false
                }
            ]
        },
        {
            "name": "tcpdirect irc",
            "enabled": false,
            "nick": "aibird",
            "throttle": 20,
            "channels": [
                "#birdnest",
                "#tcpdirect"
            ],
            "servers": [
                {
                    "host": "ircd.chat",
                    "port": 6697,
                    "ssl": true
                }
            ]
        }
    ]
}