{
    "openai": {
        "key": "",
        "tokens": 256,
        "model": "text-curie-001"
    },
    "networks": [
        {
            "name": "efnet",
            "enabled": true,
            "nick": "aibird",
            "throttle": 550,
            "channels": [
                "#birdnest"
            ],
            "servers": [
                {
                    "host": "irc.servercentral.net",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.efnet.nl",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "efnet.port80.se",
                    "port": 6667,
                    "ssl": false
                },
                {
                    "host": "irc.underworld.no",
                    "port": 6667,
                    "ssl": false
                }
            ]
        }
    ]
}