[openai]
keys = [
"sk-aishouldbefreeanyway",
"sk-aishouldbefreeanyway",
"sk-aishouldbefreeanyway",
]
tokens = 2500
model = "text-davinci-003"
temperature = 0.8

[aibird]
protectedHosts = [
    {host = "yourirchost.com", ident = "nicktopluso", admin = true},
    {host = "yourirchost.com", ident = "nicktopluso", admin = false},
]
debug = false
chatPersonality = "a snobby reddit intellectual"
replyToChats = true
replyChance = 3
replyTotalMessages = 5
ignoreChatsFrom = ['bot1','bot2']

[proxy]
enabled = true
type = "" # http or https or socks5
username = ""
password = ""
host = ""
port = 8081

[networks.efnet]
nick = "aibird"
channels = ["#birdnest"]
enabled = true
throttle = 550
burst = 3
servers = [
    {host="irc.servercentral.net", port = 6667, ssl = false, ipv6 = false},
    {host="irc.efnet.nl", port = 6667, ssl = false, ipv6 = false}
]


[networks."tcpdirect irc"]
nick = "aibird"
channels = ["#birdnest", "#tcpdirect"]
enabled = true
throttle = 0
burst = 0
[[networks."tcpdirect irc".servers]]
host = "ircd.chat"
port = 6697
ssl = true
pass = ""


[stable-diffusion]
negativePrompt = "saturated, comic, cartoon"
steps = 10
sampler = "DDIM"
restoreFace = true
cfgScale = 8
host = "http://127.0.0.1:7860"
width = 512
height = 640
badWords = ["greta","thunburg"]
badWordsPrompt = "FBI Agent Making an Arrest."